profiles {
    standard {
        
        process {
            container = 'raphsoft/variation:1.0-RC2'
        }

        docker {
            enabled = true
            fixOwnership = true
            runOptions= '-v $HOME:$HOME -u $(id -u):$(id -g)'
        }
    }
    lsf {

        process {
            container = '/nfs/production/keane/research/user/emilio/singularity/variation_1.0-RC1.sif'
        }

        docker {
            enabled = false
        }

        singularity {
            enabled = true
        }
    }
}