profiles {
    standard {
        
        process {
            container = 'raphsoft/mouse:1.0-RC1'
        }

        docker {
            enabled = true
            fixOwnership = true
            runOptions= "-v $HOME:$HOME"
        }
    }
    lsf {

        process {
            container = '/nfs/production/keane/research/user/emilio/singularity/variation_1.0-RC1.sif'
        }

        docker {
            enabled = false
        }

        singularity {
            enabled = true
        }
    }
}